<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>PlaidSheets</title>
<link rel="stylesheet" href="https://threads.plaid.com/threads.css">

<link rel="stylesheet" type="text/css" href="style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <main class="main">
    <div class="grid">
      <div class="grid__column grid__column--is-twelve-columns">
        <div id="banner" class="everpresent-content">
          <h1 class="everpresent-content__heading">PlaidSheets</h1>
          <img src="plaidsheets.png" style="height:200px;width:200px;">
          <p id="intro" class="everpresent-content__subheading">
            Get bank transactions into a spreadsheet using Plaid.
          </p>
        </div>

        <div id="container" class="initial-view">
          <p class="initial-view__description">
            Click the button below to open a list of Institutions. After you select one, you’ll be guided through an authentication process. Upon completion, a public_token will be passed back to the server and exchanged for access_token.
          </p>

          <button id="link-btn" class="button button--is-primary">Connect with Plaid</button>
        </div>

        <div id="app" class="connected-view">
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
  <script>
  (function($) {
    var products = '<%= PLAID_PRODUCTS %>'.split(',');

    var handler = Plaid.create({
      apiVersion: 'v2',
      clientName: 'PlaidSheets',
      env: '<%= PLAID_ENV %>',
      product: products,
      key: '<%= PLAID_PUBLIC_KEY %>',
      // webhook: 'https://your-domain.tld/plaid-webhook',
      onSuccess: function(public_token) {
        $.post('/get_access_token', {
          public_token: public_token
        }, function(data) {
        });
      },
    });

    $('#link-btn').on('click', function(e) {
      handler.open();
    });

  })(jQuery);

function displayError(element, error) {
  var html = `
    <div class="alert alert-danger">
      <p><strong>Error Code:</strong> ${error.error_code}</p>
      <p><strong>Error Type:</strong> ${error.error_type}</p>
      <p><strong>Error Message:</strong> ${error.display_message == null ? error.error_message : error.display_message}</p>
      <div>Check out our <a href="https://plaid.com/docs/#errors-overview">errors documentation</a> for more information.</div>
    </div>`;
  $(element).html(html).slideDown();
}
  </script>
</body>
</html>
